// Color Scheme: https://coolors.co/ff7761-fdc23e-f9a11b-274555-cfdbd5
$primary-color: #FF7761;
$secondary-color: #FDC23E;
$ternary-color: #F9A11B;
$quadranary-color: #274555;

// Complementary colors.
$light-gray: #CFDBD5;
$black: #000000;
$white: #ffffff;

// Font Selections: https://fonts.google.com/specimen/Oxygen?selection.family=Lato:400,700|Oxygen:400,700
$header-font: 'Oxygen', sans-serif;
$body-font: 'Lato', sans-serif;

// =====
// Global
// =====

body{

	font-family: $body-font;
	color: $black;
}

h1, h2, h3, h4, h5{

	font-family: $header-font;
	font-weight: bold;

	&.heading{

		text-transform: uppercase;
	}
}

.btn{

	font-family: $header-font;
	border-radius: 0px;

	text-transform: uppercase;

	height: 50px;
	min-width: 200px;
	font-size: 12px;
	line-height: 50px;

	padding: 0px 10px;

	transition: 0.5s background-color, 0.5s border-color, 0.5s opacity, 0.5s transform, 0.5s box-shadow;

	&.btn-primary{

		background-color: $primary-color;
		border-color: $primary-color;

		&:hover{

			background-color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}

.section{

	min-height: 600px;
	z-index: 1;
	position: relative;
}

.separator{

	height: 100px;
	width: 100%;
	position: absolute;
	top: -40px;
	left: 0px;
	z-index: 2;
	background-color: $white;

	&.separator-right{

		transform: skewY(3deg);
	}

	+.container{

		padding-top: 50px;
	}
}

.vcenter{

	display: flex;
	align-items: center;
  	justify-content: center;
}


// =====
// Sections
// =====

// Navigation
.navigation{

	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;

	z-index: 2;

	color: $white;

	.title{

		display: none;
	}

	a#menu-toggle{

		color: $white;
		font-size: 24px;
		line-height: 60px;

		float: right;

		display: none;
	}

	.heading{

		line-height: 60px;
		margin-top: 0px;
		margin-bottom: 0px;

		display: inline-block;
		vertical-align: middle;

		a{

			color: $white;
		}
	}

	ul{

		list-style: none;
		display: inline-block;
		padding: 0px;
		margin: 0px;

		margin-left: 40px;

		vertical-align: middle;

		&.right{

			float: right;
		}

		li{

			display: inline-block;
			line-height: 60px;

			text-transform: lowercase;
			// text-transform: uppercase;
			font-size: 12px;

			a{

				color: $white;
				transition: 0.5s color;

				&:hover{

					color: $secondary-color;
					text-decoration: none;
				}
			}

			&:not(:last-of-type){

				// margin-right: 10px;
			}

			&:not(:last-of-type)::after{

				content: '/';
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}


// Hero
#hero{

	color: $white;

	video{

		position: fixed;
		z-index: -1;

		width: 100%;
		// height: 100%;

		left: 0px;
		top: 0px;

		transform: rotateY(180deg);
    	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
    	-moz-transform:rotateY(180deg); /* Firefox */
	}

	.container{

		z-index: 1;

		h1{

			margin-top: 0px;
		}

		p{

			opacity: 0.8;
		}

		.btn{

			background-color: $secondary-color;
			border-color: $secondary-color;

			margin-top: 60px;

			&:hover{

				transform: translateY(-5px);

				box-shadow: 0px 0px 60px -5px rgba(0, 0, 0, 0.08);
				-webkit-box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.08);
				-moz-box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.08);

				-webkit-box-shadow: 0px 0px 80px 0px rgba(255,119,97,1);
				-moz-box-shadow: 0px 0px 80px 0px rgba(255,119,97,1);
				box-shadow: 0px 0px 80px 0px rgba(255,119,97,1);

				box-shadow: 0px 10px 60px -5px rgba(0, 0, 0, 0.25);
				-webkit-box-shadow: 0px 10px 60px -5px rgba(0,0,0,0.25);
				-moz-box-shadow: 0px 10px 60px -5px rgba(0,0,0,0.25);
			}
		}
	}

	.overlay{

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		background: -moz-linear-gradient(359deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,119,97,1)), color-stop(38%, rgba(255,119,97,1)), color-stop(100%, rgba(255,119,97,0))); /* safari4+,chrome */
		background: -webkit-linear-gradient(359deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(359deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(359deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%); /* ie10+ */
		background: linear-gradient(91deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7761', endColorstr='#FF7761',GradientType=1 ); /* ie6-9 */
	}

	.poster{

		position: absolute;
		width: 100%;
		height: 100%;

		background-image: linear-gradient(90deg, rgba(255,119,97,1) 0%, rgba(255,119,97,1) 38%, rgba(255,119,97,0) 100%), url('../img/spacious.jpg');
		background-size: cover;
		background-position: center;

	}
}

#status-widget{

	position: absolute;

	text-align: center;

	// border: 1px solid black;
	top: -175px;
	right: 0px;
	z-index: 4;
	margin-right: 10%;
	padding: 25px;
	padding-top: 15px;
	background-color: $white;

	// -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
	// clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);

	-webkit-box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.08);
	box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.08);

	width: 400px;
	height: 325px;

	i{
		color: $primary-color;
	}

	hr{

		width: 50px;
	}

	h4{

		margin-top: 0px;
		margin-bottom: 25px;
		// font-size: 18px;
		font-weight: normal;
	}

	.header-icon{

		font-size: 36px;
		line-height: 48px;
		margin-bottom: 10px;
	}

	.statistic{	

		display: inline-block;

		padding: 10px 0px;

		width: 50%;
		min-height: 100px;

		&.full{

			width: 100%;
			margin-top: 40px;

			span{

				font-size: 64px;
				text-shadow: 4px 4px 5px rgba(150, 150, 150, 0.3);
			} 

			p{

				font-size: 1.5em;
			}
		}

		div{

			text-align: center;
			margin: 0 auto;

			line-height: 1.0;

			span{

				color: $primary-color;
				font-weight: bold;
				font-size: 36px;
			}	

			p{

				text-transform: lowercase;
				margin-top: 5px;
			}
		}	
	}

	.separator-top{

		top: -38px;
		height: 50px;
	}

	.separator-right:not(.separator-top){

		top: initial;
		bottom: -90px;

		height: 100px;

		background-color: $white;

		border-bottom: 10px solid $primary-color;

		-webkit-box-shadow: 0px 30px 60px -5px rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 0px 30px 60px -5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 30px 60px -5px rgba(0, 0, 0, 0.16);

		&::after{

			content: '';
			position: relative;
			height: 20px;
			width: 400px;

			z-index: 5;

			background-color: $primary-color;
		}
	}
}

#benefits{

	background-color: $white;
	// transform: skewY(5deg);

	.benefits-text{

		p{

			margin-bottom: 60px;
			max-width: 400px;

			margin-left: 28px;
		}

		i{

			color: $primary-color;
			margin-right: 10px;
		}
	}
}

#footer{

	// border-top: 5px solid $secondary-color;

	background-color: $primary-color;
	min-height: 200px;

	color: $white;

	ul.site-map{

		padding: 0px;
		margin: 0px;

		list-style: none;

		border-right: 1px dotted $white;

		li{

			&:not(:last-of-type){

				margin-bottom: 5px;
			}

			a{

				color: $white;
				text-transform: lowercase;
				font-size: 12px;

				&:hover{

					color: $secondary-color;
					text-decoration: none;
				}
			}
		}
	}

	.copyright{

		text-align: right;
		margin-top: 60px;

		h2{

			display: inline-block;
			margin: 0px;
		}

		p{

			font-size: 12px;
			margin-bottom: 0px;

			&:last-of-type{

				opacity: 0.6;
			}
		}

		a{
 
			color: $white;
			text-decoration: underline;

			&:hover{

				color: $secondary-color;
			}
		}

		div{

			display: inline-block;
			margin-right: 15px;
		}
	}
}


// =====
// Media Queries
// =====

@media only screen and (max-width: 768px){

	#status-widget{

		margin-right: 0%;
	}
}

@media only screen and (max-width: 600px){

	.navigation{

		.title{

			display: inline-block;

			line-height: 60px;
			font-size: 14px;

			margin: 0px;
			margin-left: 10px;
		}

		a#menu-toggle{

			display: inline-block;
		}

		ul{

			display: none;
		}
	}
}

@media only screen and (max-width: 450px){

	#hero{

		// padding-bottom: 200px;
		margin-bottom: 150px;

		.poster{

			background-image: linear-gradient(90deg, rgba(255,119,97,0.7) 0%, rgba(255,119,97,0.7) 100%), url('../img/spacious.jpg');
		}
	}

	#status-widget{

		// margin-right: 0%;
		width: 100%;
	}

	#benefits{

		padding-top: 250px;
	}

	#footer{

		ul.site-map{

			border-right: none;
			text-align: center;

			margin-top: 40px;
		}

		.copyright{

			text-align: center;
			margin-bottom: 20px;
			margin-top: 40px;

			h2{

				width: 100%;
				margin-bottom: 25px;
			}
		}
	}
}






